@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@400;900&family=Roboto&display=swap');


@keyframes wipeHorizontal {
  from {
    transform: scaleX(100%);
  }
  to {
    transform: scaleX(0%);
  }
}

:root {
  --grad-1: #d05a4a;
  --grad-2: #e51049;
  --grad-3: #f8c27c;
  --grad-4: #d05a4a;
  --title: linear-gradient(
    135deg,
    var(--grad-1),
    var(--grad-2),
    var(--grad-3),
    var(--grad-4)
  );
  --main-side-padding: clamp(1rem, 6vw, 20rem);
}


.first-page {
  background: white;
  display: grid;
}


.first-page > .header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: clamp(2.8rem, 5vw, 4rem);
  z-index: 99;
  transition: background 500ms ease;
}

.header > h5 {
  position: relative;
  padding: 0 1rem;
  color: var(--grad-3);
}
.header > h5::before {
  content: "";
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform-origin: right;
  animation: wipeHorizontal 500ms ease forwards;
}

.header > .first-burger-container {
  right: .5rem;
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
  position: relative;
  cursor: pointer;
}


.first-burger-container > div {
  height: .2rem;
  width: 75%;
  position: absolute;
  inset: 0;
  margin: auto;
  background-color: var(--grad-3);
}

.first-burger-container > div:nth-child(1) {
  transform: translateY(-150%);
  transition: transform 300ms ease;
}

.first-burger-container > div:nth-child(2) {
  transform: translateY(150%);
  transition: transform 300ms ease;
}


.first-page > .burger-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0,0,0,1);
  right: 0;
  z-index: 98;
  transform: translateY(-100%);
  transition:
    transform 300ms ease;
}




.first-page > .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100dvh;
  background: black;
  position: relative;
  transition: transform 300ms ease;
  
}


  
@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.intro > .img {
  background-image: url("/static/profile.png");
  background-size: cover;
  background-position: 100% 0;
  opacity: 0;
  width: 100%;
  height: 60%;
  position: relative;
  border-bottom-left-radius: 100% 3rem;
  overflow: hidden;
  transition: opacity 300ms ease;
}


.intro > .img::before {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background: radial-gradient(
    transparent,
    black
  );
  opacity: .35;
}


.intro > .text {
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--main-side-padding);
  background: black;
  z-index: 8;
  border-radius: inherit;
}


.text > h1 {
  font-family: 'Playfair', sans-serif;
  color: var(--grad-3);
  font-size: 1.9rem;
  font-weight: 700;
  position: relative;
  background: var(--title);
  background-size: 200%;
  background-position: -130%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.text > h1::before,
.text > p::before {
  content: "";
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform-origin: right;
  animation: wipeHorizontal 2000ms ease forwards;
}

.text > p::before {
  animation-delay: 500ms;
}


.text > p {
  position: relative;
  color: hsl(35,0%,80%);
  font-weight: 550;
  font-family: 'Playfair', sans-serif;
}

.text > .contact {
  display: flex;
  width: 100%;
  padding: .5rem 0;
}

.text > .contact > a {
  --grad: linear-gradient(
    -35deg,
    #d05a4a,
    #e51049,
    #f8c27c,
    #d05a4a
  );
  margin-top: auto;
  text-align: left;
  position: relative;
  background: var(--grad);
  background-size: 300%;
  background-position: -80%;
  padding: .5rem 0;
  font-weight: 800;
  text-decoration: none;
  width: 35%;
  border-radius: .2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text > .contact > a::before {
  content: "";
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform-origin: right;
  animation: wipeHorizontal 1000ms ease forwards;
  animation-delay: 1000ms;
}


.contact > a:nth-child(2)::before {
  animation-delay: 1500ms;
}






@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.special-part {
  width: 100%;
  height: auto;
  aspect-ratio: 3/1;
  background: black;
  position: relative;
}

.special-part > .stars {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.special-part > .orbits {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.special-part > .orbits > .orbit {
  aspect-ratio: 1/1;
  border: .1rem dashed hsl(250,100%,35%);
  position: absolute;
  inset: 0;
  margin: auto -50%;
  border-radius: 50%;
  opacity: 1;
  animation: rotateInfinite 150s linear forwards infinite;
}

.special-part > .planet-container {
  --planet-scale: scale(1);
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
  inset: 0;
  margin: auto;
  z-index: 1;
  transform: rotate(-15deg);
  transition: transform 300ms ease;
}


.special-part > .planet-container > .planet {
  position: absolute;
  inset: 0;
  margin: auto;
  height: 35%;
  aspect-ratio: 1/1;
  background: var(--grad-3);
  border-radius: 50%;
  overflow: hidden;
  transform: var(--planet-scale);
  transition: transform 300ms ease;
}



.special-part > .planet-container > .planet-top {
  position: absolute;
  inset: 0;
  margin: auto;
  height: 35%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
  transform: var(--planet-scale);
  transition: transform 300ms ease;
}

.special-part > .planet-container > .planet-top::before {
  content: "";
  background: var(--grad-3);
  height: 50%;
  width: 100%;
  position: absolute;
  z-index: 1;
}


.special-part > .planet-container > .ring {
  --orbit-width: 75%;
  position: absolute;
  inset: 0;
  margin: auto;
  width: var(--orbit-width);
  height: calc(var(--orbit-width)/10);
  border: .1rem solid var(--grad-2);
  border-radius: 50%;
  z-index: 0;
  transition:
    height 300ms ease,
    transform 300ms ease;
}


.special-part > .planet-container > .ring > div {
  position: absolute;
  inset: 0;
  margin: auto;
  aspect-ratio: 1/1;
  border-radius: inherit;
  border: .05rem solid var(--grad-2);
  width: 60%;
  
}

.special-part > .planet-container > .ring > .in {
  width: 60%;
  animation: rotateInfinite 7s linear forwards infinite;
  
}

.special-part > .planet-container > .ring > .out {
  width: 80%;
  animation: rotateInfinite 10s linear reverse forwards infinite;
}

.special-part > .planet-container > .ring > div > .moon {
  width: 6%;
  aspect-ratio: 1/1;
  background: var(--grad-3);
  border: none;
  border-radius: inherit;
  position: absolute;
  inset: -3.5%;
  margin: auto 0;
}


.animations {
  width: 100%;
  height: auto;
  background: black;
}

.animations > .head {
  width: 100%;
  aspect-ratio: 2/1;
  display: flex;
  align-items: center;
  padding: 0 var(--main-side-padding);
}

.animations > .head > h2 {
  color: white;
  line-height: .8;
}

.animations > .head > h2 > span {
  color: var(--grad-2);
  font-size: 2.5rem;
}


.animations > .body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: .1rem;
}

/* General grid item layout */
.animations > .body > div {
  width: 100%;
  aspect-ratio: 2/1;
  display: flex;
  flex-direction: column;
}

.animations > .body > div > .main {
  background: black;
  width: 100%;
  height: 80%;
  position: relative;
}

.animations > .body > div > .info {
  height: 20%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.animations > .body > div > .info > h4 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding-left: .5rem;
}

.animations > .body > div > .info > a {
  height: 100%;
  aspect-ratio: 1/1;
  text-decoration: none;
  color: black;
  background: var(--grad-2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}


/* Object focused */
#pacman > .main > .obj {
  --body-color: yellow;
  height: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  right: 0;
  z-index: 1;
}

#pacman > .main > .obj > div {
  width: 65%;
  aspect-ratio: 1/1;
  inset: 0;
  margin: auto;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
}

@keyframes moveMouth {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(var(--rotate));
  }
}

#pacman > .main > .obj > .top {
  --rotate: 45deg;
  animation: moveMouth 200ms linear infinite alternate;
}
#pacman > .main > .obj > .bottom {
  --rotate: -45deg;
  animation: moveMouth 200ms linear infinite alternate;
}

#pacman > .main > .obj > .top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background: var(--body-color);
}

#pacman > .main > .obj > .bottom::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background: var(--body-color);
}

#pacman > .main > .obj > .back::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  background: var(--body-color);
}

#pacman > .main > .obj > .eye::before {
  content: "";
  inset: 0;
  margin: 25% auto auto;
  position: absolute;
  width: 8.35%;
  aspect-ratio: 1/1;
  background: black;
  border-radius: 50%;
}


@keyframes moveFood {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(100%);
  }
}

#pacman > .main > .food {
  height: 100%;
  width: 90%;
  position: absolute;
  animation: moveFood 400ms linear infinite;
}


#pacman > .main > .food::before {
  content: "";
  position: absolute;
  height: 10.35%;
  aspect-ratio: 1/1;
  background: var(--grad-2);
  border-radius: 50%;
  inset: 0;
  margin: auto 0;
}


.philosophy-container {
  width: 100%;
  background: none;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 5rem var(--main-side-padding);
  gap: 3rem;
  font-family: 'Playfair';
}

.philosophies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  height: auto;
  width: 100%;
  gap: .3rem;
}

.philosophies > div {
  width: 100%;
  aspect-ratio: 1/2;
  overflow: hidden;
  /*border: .1rem solid var(--grad-2);*/
  background: linear-gradient(
    165deg,
    black 50%,
    hsl(235,100%,10%)
  );
  background-position: 0 0;
  background-size: 200%;
  color: white;
  position: relative;
  border-radius: .2rem;
  display: flex;
  flex-direction: column;
  padding: 0 .5rem .5rem;
  gap: .5rem;
}

.philosophies > div > .head {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.philosophies > div > .head::before {
  content: "";
  position: absolute;
  height: .135rem;
  width: 0;
  background: var(--grad-2);
  margin: 0 auto;
  bottom: 0;
  transition: width 300ms ease;
}

.philosophies > div:hover > .head::before {
  width: 90%;
}


.philosophies > div > .body {
  height: 70%;
  font-size: .55rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.philosophies > div > .body > a {
  --height: .5rem;
  color: var(--grad-2);
  background: black;
  text-decoration: none;
  height: var(--height);
  border-radius: calc(var(--height)/2);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}



.project-container {
  width: 100%;
  background: none;
  display: flex;
  flex-direction: column;
  background: black;
  background-size: 200%;
  padding: 5rem var(--main-side-padding);
}

.project-container > h2 {
  color: var(--grad-3);
  line-height: 135%;
}

.project-container > h2 span {
  color: var(--grad-2);
  font-size: 3rem;
}

.project-container > .projects {
  display: grid;
  grid-template-areas:
    "💎 💎 💖"
    "🌟 ✨ 💖"
    "🌟 ❇️ ❇️";
  width: 100%;
  aspect-ratio: 1/1;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: .3rem;
}

.projects > .project {
  position: relative;
  background-size: cover;
  background-position: center 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  transition: transform 300ms ease;
  overflow: hidden;
  padding: 1rem;
  border-radius: .2rem;
  z-index: 0;
}

.project::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: 0;
  background: rgba(0,0,0,.7);
  z-index: 0;
  transition: background 300ms ease;
}

.project:hover::before {
  background: rgba(0,0,0,.3);
}

.project:nth-child(1) {
  background: url("https://pbs.twimg.com/media/F14RMaFagAArhOr?format=png&name=small");
  background-size: cover;
  grid-area: ✨;
}

.project:nth-child(2) {
  background-position: center 0;
  grid-area: 💎;
}

.project:nth-child(3) {
  grid-area: 💖;
  flex-direction: column;
}

.project:nth-child(4) {
  grid-area: ❇️;
  background-position: center 0;
  flex-direction: row-reverse;
}

.project:nth-child(5) {
  grid-area: 🌟;
  flex-direction: column-reverse;
}

.project > h4 {
  z-index: 1;
}

.project > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  font-weight: 700;
  background: var(--grad-2);
  height: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  z-index: 1;
  transition:
    transform 500ms ease;
}

.project:hover > a {
  transform: scale(1.3) rotate(315deg);
}


.project:hover {
  transform: scale(1.05);
  z-index: 2;
}



.hover-container {
  --background: hsl(0,0%,0%);
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  background: var(--background);
}

.hover-container > .hover-head {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5rem var(--main-side-padding) 1rem;
  font-family: 'Roboto';
  gap: 1rem;
  width: 100%;
  height: 20rem;
  z-index: 0;
  background: url("https://pbs.twimg.com/media/F2PGra-boAE5VdW?format=jpg&name=large");
  background-size: cover;
  color: hsl(0, 0%, 95%);
}

.hover-head > h2 {
  margin-bottom: auto;
  font-size: 2rem;
}

.hover-head > p {
  color: hsl(15,5%,70%);
  font-weight: 550;
}

.hover-head > a {
  width: 6rem;
  text-decoration: none;
  background: var(--title);
  background-size: 150%;
  font-weight: 700;
  padding: .5rem 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hover-head::before {
  content: "";
  inset: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: linear-gradient(
    180deg,
    rgba(0,0,0,.5),
    rgba(0,0,0,1)
  );
}



.hover-box {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-gap: 0;
  grid-auto-flow: dense;
}

.hover-box > div {
  background-size: cover;
  background-position: center;
  display: flex;
  opacity: 0;
  min-width: 8.25rem;
  min-height: 8.25rem;
  position: relative;
  transition:
    transform 300ms ease,
    opacity 300ms ease;
  overflow: hidden;
}

.landscape {
  grid-column: span 2;
  grid-row: span 1;
  aspect-ratio: 2/1;
}

.portrait {
  grid-column: span 1;
  grid-row: span 2;
  aspect-ratio: 1/2;
}

.square {
  grid-column: span 1;
  grid-row: span 1;
  aspect-ratio: 1/1;
}


.hover-box > div:hover {
  transform: scale(1.03);
  z-index: 99;
}

.hover-box > div::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(0,0,0,1),
    transparent
  );

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: scaleY(2.5);
  transform-origin: bottom;
  transition:
    transform 300ms ease,
    opacity 500ms ease;
}

.hover-box > div:hover::before {
  transform: scaleY(.9);
  opacity: .5;
}



@media screen and (min-width: 45rem) {
  .first-page > .header {
    width: calc(100% - var(--nav-size));
  }
  
  .first-page > .intro {
    flex-direction: row;
    min-height: calc(100vh + 1rem);
  }

  .first-page > .burger-menu {
    height: calc(100vh + 1rem);
  }


  .intro > .img {
    height: 100%;
    aspect-ratio: 3/4;
    border-bottom-left-radius: 0 0;
  }

  .intro > .text {
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .text > .contact {
    justify-content: flex-start;
    gap: 1rem;
  }
}

.hidden {
  display: none;
}