:root {
  --first: white;
  --second: black;
  --third: dodgerblue;

  --img: url("https://is5-ssl.mzstatic.com/image/thumb/Music125/v4/0a/86/f3/0a86f317-78d7-fe7e-f279-e835a0ac51c7/cover.jpg/632x632bb.webp");
  --nav-height: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}


section {
  width: 100%;
  height: calc(100dvh - var(--nav-height));
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}


.navigation-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--first);
  border: 1px solid hsl(0,0%,80%);
  height: var(--nav-height);
  z-index: 9999;
  transition:
    background 300ms ease,
    border-top 300ms ease;
}

.navigation-bar button {
  
}

.navigation-bar .nav-btn {
  display: flex;
  text-decoration: none;
  color: var(--second);
  font-weight: 700;
  font-size: .7rem;
  cursor: pointer;
  background: var(--first);
  border: none;
  border-radius: .5rem;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  transition:
    background .3s ease-in-out,
    color .3s ease-in-out;
}

svg {
  width: 1.5rem;
}
svg path {
  transition: fill .3s ease-in-out;
}
.active > svg path {
  fill: var(--first);
}

.navigation-bar > button:hover,
.navigation-bar > .active {
  background: var(--second);
  color: var(--first);
}

.navigation-bar > button:hover > svg path {
  fill: var(--first);
}


.navigation-bar > .nav-center {
  /* transform: translateY(); */
  padding: .5rem;
  border-radius: 50%;
  background: var(--second);
  aspect-ratio: 1/1;
  border: none;
}

.nav-center > svg {
  width: 2.5rem;
}

.nav-center > svg path {
  fill: var(--first);
}


@media (min-width: 40rem) {
  :root {
    --nav-size: 4rem;
  }
  section {
    width: calc(100% - var(--nav-size));
    height: 100%;
    right: 0;
  }

  .navigation-bar {
    width: var(--nav-size);
    height: 100%;
    left: 0;
    align-items: center;
    justify-content: flex-start;
    gap: .3rem;
    padding: .3rem;
    flex-direction: column;
  }
  .navigation-bar .nav-btn {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }

  .navigation-bar > button {
    transform: translateY(0);
  }
  
  .navigation-bar > .nav-center {
    margin-top: auto;
    order: 1;
    transform: translateY(0);
  }
}


.hidden {
  display: none;
}