.special-page > .header {
  background: black;
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition:
    background-image 1000ms ease;
  position: relative;
}

.special-page > .header > .stars {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.special-page > .header > h1 {
  margin-top: 6rem;
  padding: 0 var(--main-side-padding);
  letter-spacing: 0;
  font-size: .78rem;
  color: white;
  z-index: 1;
  line-height: .8;
/*  background: linear-gradient(
    90deg,
    hsl(260, 100%, 60%),
    hsl(280, 100%, 70%),
    hsl(290, 100%, 90%),
    hsl(270, 100%, 70%),
    hsl(260, 100%, 60%)
  );*/
  
}

.special-page > .header > h1 > span {
  font-size: 2.75rem;
  font-weight: 800;
  letter-spacing: -.15rem;
  background: var(--title);
  background-size: 200%;
  background-position: -25% center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 300ms ease;
}

.special-page > .header:hover > h1 > span {
  background-position: -100% center;
}

.special-page > .header > p {
  padding: 0 var(--main-side-padding);
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  z-index: 1;
  font-weight: 500;
  opacity: .6;
  transition: opacity 300ms ease;
}


.special-page > .first {
  background: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.first > .inputs {
  --search-bar: 7rem;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: var(--search-bar);
  background: black;
  padding: .3rem;
  gap: .3rem;
}

.inputs > .search-bar {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background: hsl(0,0%,5%);
  z-index: 4;
  display: flex;
  align-items: center;
}


.search-bar > .icon {
  cursor: pointer;
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: inherit;
  background: var(--title);
  background-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotateInfinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search-bar > .icon > svg {
  animation: none;
}

.search-bar > .icon > svg path {
  stroke: hsl(0,0%,0%);
  transition: stroke 300ms ease;
}


.search-bar > input {
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  background: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  z-index: 3;
  transition: color 300ms ease;
}



.orientation {
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: space-between;
}

.orientation > a {
  text-decoration: none;
  background: black;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .1rem;
}

.inputs > .suggestions {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  margin: calc(var(--search-bar)/2) auto auto;
  width: 100%;
  height: auto;
  z-index: 5;
  transform: scaleY(0);
  transition: transform 50ms ease;
  transform-origin: top;
}

.suggestions > a {
  background: rgba(0,0,0,.95);
  width: 100%;
  height: 3rem;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 1.3rem;
  flex-shrink: 0;
}

.suggestions > a > span {
  display: flex;
  align-items: center;
}

.suggestions > a > span:first-child {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  white-space: nowrap;
  font-weight: 600;
}
.suggestions > a > span:first-child::-webkit-scrollbar {
  display: none;
}

.suggestions > a > span:last-child {
  height: 100%;
  width: auto;
  justify-content: center;
  color: hsl(0,0%,70%);
  font-size: .75rem;
}


.img-layout {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.img-container {
  position: relative;
  display: grid;
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
  width: auto;
  grid-template-rows: repeat(4, 8rem);
  grid-auto-flow: column;
  gap: .3rem;
  background: black;
  
}

.img-container > div {
  transition:
    transform 300ms ease,
    filter 300ms ease,
    opacity 300ms ease;
}

.img-container > img:hover {
  transform: scale(1.05);
  z-index: 1;
}



.img-info {
  width: 100%;
  aspect-ratio: 3/4;
  position: relative;
  color: white;
  align-self: center;
  background: url("https://cdn.donmai.us/sample/cd/6f/__shiina_mahiru_otonari_no_tenshi_sama_ni_itsu_no_mani_ka_dame_ningen_ni_sarete_ita_ken_drawn_by_hanekoto__sample-cd6f4f2f188060731e2e4e4bf6aebd6d.jpg");
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: .8rem;
  padding: .5rem;
  font-size: 1.05rem;
}


.img-info::before {
  content: "";
  position: absolute;
  inset: 0;
  bac
  margin: auto;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0,0,0,.5),
    transparent,
    rgba(0,0,0,.5)
  );
}




.img-info > div {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  overflow: hidden;
  z-index: 2;
}


.img-info > .link-string {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  margin-bottom: auto;
}

.img-info > .link-string > a:first-child {
  width: auto;
}

.img-info > .link-string > a {
  display: flex;
  height: 100%;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  z-index: 2;
}


.link-string > a > img {width: 100%;}
.link-string > a > svg {height: 100%;}

.img-info > .tag-string {
  height: 20%;
}

.img-info > .tag-string > h6 {
  overflow-y: auto;
}


.img-preview {
  display: flex;
  position: relative;
  max-width: 50%;
  max-height: 100%;
  align-self: center;
  border-radius: .5rem;
}





.popular-today {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}


.popular-today > .body {
  background: black;
  width: 100%;
  height: 13rem;
  display: flex;
  gap: .3rem;
  overflow-x: auto;
}


.popular-today > .body > div {
  height: 100%;
  width: auto;
  position: relative;
  color: white;
  font-weight: 700;
  isolation: isolate;
}

.popular-today > .body > div::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: auto;
  margin: auto;
  background: linear-gradient(
    0deg,
    rgba(0,0,0,.85),
    transparent,
    rgba(0,0,0,.85)
  );
  z-index: -1;
}

.popular-today > .body > .landscape {
  grid-row: span 2;
  grid-column: span 4;
}
.popular-today > .body > .square {
  grid-row: span 2;
  grid-column: span 2;
}




.dominant-color {
  --dom-color-1: var(--grad-3);
  --dom-color-2: var(--grad-2);
  background: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5rem var(--main-side-padding);
}

.dominant-color > .head {
  color: var(--dom-color-1);
}


.dominant-color > .container {
  display: flex;
  gap: .5rem;
}


.dominant-color > .container > .image {
  background: url("https://pbs.twimg.com/media/F2R1qHTb0AApJEz?format=png&name=small");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  cursor: pointer;
  z-index: 0;
}

.dominant-color > .container > .image::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 1;
  transition: background 300ms ease;
}

.dominant-color > .container > .image:hover::before {
  background: rgba(0,0,0,.9);
}


.dominant-color > .container > .image > h1 {
  text-align: center;
  color: var(--grad-2);
  z-index: 2;
  font-size: 3rem;
}
.dominant-color > .container > .image > div {
  position: absolute;
  inset: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.dominant-color > .container > .image > div::before {
  content: "×";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  color: var(--grad-2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  opacity: 0;
  transition: opacity 300ms ease;
}

.dominant-color > .container > .image > div:hover::before {
  opacity: 1;
}

@keyframes cycleHue {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}


.dominant-color > .container > .color-palette {
  --cycle-hue: cycleHue 2000ms infinite linear;
  width: 100%;
  aspect-ratio: 1/1;
  background: var(--grad-3);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dominant-color > .container > .color-palette > div {
  background: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
  font-weight: 700;
  transition: opacity 300ms ease;
}

.dominant-color > .container > .color-palette > div:hover {
  opacity: 1;
}


.dominant-color > a {
  background: var(--dom-color-2);
  align-self: center;
  width: 9rem;
  height: 3rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.dominant-color > .percentage {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.dominant-color > .percentage span:last-child {
  font-size: .8rem;
}

.dominant-color > .color {
  color: var(--dom-color-2);
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.dominant-color > .color div { gap: .3rem; }
.dominant-color > .color div div {
  width: 0;
  height: .1rem;
  background: var(--color);
  transition: width 1000ms ease;
}

.dominant-color > .color > .red {
  --color: red;
  
}

.dominant-color > .color > .green {
  --color: lime;
  
}

.dominant-color > .color > .blue {
  --color: blue;
  
}



.qrcode {
  width: 100%;
  padding: 5rem 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: black;
  position: relative;
}

.qrcode::before {
  content: "";
  position: absolute;
  height: .1rem;
  width: calc(100% - var(--main-side-padding)*2);
  inset: 0;
  margin: 0 auto;
  background: var(--grad-2);
}

.qrcode > .body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0 var(--main-side-padding);
  background: black;
}

.qrcode > .body > div,
.qrcode > .body > form {
  width: 100%;
  aspect-ratio: 1/1;
}

.qrcode > .body > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qrcode > .body > div > .qr-img {
  width: 90%;
  aspect-ratio: 1/1;
  background: var(--grad-2);
}


.qrcode > .body > form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.qrcode > .body > form > input {
  width: 100%;
  height: 15%;
  background: none;
  border: .1rem solid var(--grad-2);
  padding: .5rem;
  color: white;
}

.qrcode > .body > form > div {
  display: flex;
  width: 100%;
  height: 35%;
  gap: 1rem;
}

.qrcode > .body > form > div > .logo {
  height: 100%;
  aspect-ratio: 1/1;
  background: none;
  position: relative;
}

.qrcode > .body > form > div > .logo > div {
  position: absolute;
  inset: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  background: url("https://pbs.twimg.com/media/FxI4n-9aYAcnN6S?format=jpg&name=medium");
  background-size: cover;
  background-position: center;
}

.qrcode > .body > form > div > div {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.qrcode > .body > form > div > div > label {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.qrcode input[type=color] {
  display: none;
}


.qrcode > .body > form > button {
  align-self: center;
  width: 60%;
  height: 15%;
  background: var(--grad-2);
  border: none;
  font-weight: 600;
  font-size: 1.1rem;
}






.encrypt-text {
  width: 100%;
  height: auto;
  background: black;
  color: white;
}

.encrypt-text > .body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: .5rem;
  gap: 2rem;
}


.encrypt-text > .body > .inputs {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.encrypt-text > .body > .inputs > textarea {
  height: 7rem;
  border: none;
  border-radius: none;
  padding: .5rem;
}

.encrypt-text > .body > .inputs > a {
  text-decoration: none;
  width: 6rem;
  aspect-ratio: 3/1;
  background: var(--grad-2);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.encrypt-text > .body > .outputs {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.encrypt-text > .body > .outputs > .text {
  height: 7rem;
  background: white;
  position: relative;
  color: black;
}
.encrypt-text > .body > .outputs > .text > span {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: .5rem;
}

.encrypt-text > .body > .outputs > .text > .offset {
  position: absolute;
  height: 20%;
  width: 30%;
  right: 0;
  bottom: 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}




@media (min-width: 40rem) {
  .first > .inputs {
    height: calc(var(--search-bar) / 2);
    flex-direction: row-reverse;
  }

  .inputs > .orientation {
    width: 20%;
  }

  .img-layout {
    flex-direction: row;
  }

  .img-container {
    width: 100%;
  }

  .img-info {
    height: 100%;
    width: 60%;
  }
}

.hidden {
  display: none;
}
