


.desc-back {
  background-image: url("https://pbs.twimg.com/media/F2PGra1aEAAgXax?format=jpg&name=large");
  width: 100%;
  height: 20rem;
  background-size: cover;
  background-position: center 0%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 6.5rem 1rem 3rem;
  transition:
    background-image 1000ms ease;
  position: relative;
}

.desc-back::before {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0,0,0,1) 8%,
    rgba(0,0,0,.4)
  );
  
  backdrop-filter: blur(3px);
}


.desc-back > h1 {
  z-index: 1;
/*  background: linear-gradient(
    90deg,
    hsl(260, 100%, 60%),
    hsl(280, 100%, 70%),
    hsl(290, 100%, 90%),
    hsl(270, 100%, 70%),
    hsl(260, 100%, 60%)
  );*/
  background: var(--title);
  background-size: 200%;
  background-position: -25% center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 300ms ease;
}

.desc-back:hover > h1 {
  background-position: -100% center;
}

.desc-back > p {
  z-index: 1;
  font-weight: 500;
  opacity: 0;
  transition: opacity 300ms ease;
}



.desc-back:hover > p {
  opacity: 1;
}


.special-page > .first {
  background: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.first > .inputs {
  --search-bar: 7rem;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: var(--search-bar);
  background: black;
  padding: .3rem;
  gap: .3rem;
}

.inputs > .search-bar {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background: hsl(0,0%,5%);
  z-index: 4;
  display: flex;
  align-items: center;
}


.search-bar > .icon {
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: inherit;
  background: var(--title);
  background-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotateInfinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search-bar > .icon > svg {
  animation: none;
}

.search-bar > .icon > svg path {
  stroke: hsl(0,0%,0%);
  transition: stroke 300ms ease;
}


.search-bar > input {
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  background: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  z-index: 3;
  transition: color 300ms ease;
}



.orientation {
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: space-between;
}

.orientation > a {
  text-decoration: none;
  background: black;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .1rem;
}


.img-layout {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.img-container {
  position: relative;
  display: grid;
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
  width: auto;
  grid-template-rows: repeat(4, 8rem);
  grid-auto-flow: column;
  gap: .3rem;
  background: black;
  
}

.img-container > div {
  transition:
    transform 300ms ease,
    filter 300ms ease,
    opacity 300ms ease;
}

.img-container > img:hover {
  transform: scale(1.05);
  z-index: 1;
}



.img-info {
  width: 100%;
  aspect-ratio: 3/4;
  position: relative;
  color: white;
  align-self: center;
  background: url("https://cdn.donmai.us/sample/cd/6f/__shiina_mahiru_otonari_no_tenshi_sama_ni_itsu_no_mani_ka_dame_ningen_ni_sarete_ita_ken_drawn_by_hanekoto__sample-cd6f4f2f188060731e2e4e4bf6aebd6d.jpg");
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: .8rem;
  padding: .5rem;
  font-size: 1.05rem;
}


.img-info::before {
  content: "";
  position: absolute;
  inset: 0;
  bac
  margin: auto;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0,0,0,.5),
    transparent,
    rgba(0,0,0,.5)
  );
}




.img-info > div {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  overflow: hidden;
  z-index: 2;
}


.img-info > .link-string {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  margin-bottom: auto;
}

.img-info > .link-string > a:first-child {
  width: auto;
}

.img-info > .link-string > a {
  display: flex;
  height: 100%;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  z-index: 2;
}


.link-string > a > img {width: 100%;}
.link-string > a > svg {height: 100%;}

.img-info > .tag-string {
  height: 20%;
}

.img-info > .tag-string > h6 {
  overflow-y: auto;
}


.img-preview {
  display: flex;
  position: relative;
  max-width: 50%;
  max-height: 100%;
  align-self: center;
  border-radius: .5rem;
}


.second {
  --dom-color-1: var(--grad-3);
  --dom-color-2: var(--grad-2);
  background: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5rem var(--main-side-padding);
}

.second > .head {
  color: var(--dom-color-1);
}


.second > .container {
  display: flex;
  gap: .5rem;
}


.second > .container > .image {
  background: url("https://pbs.twimg.com/media/F2R1qHTb0AApJEz?format=png&name=small");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  cursor: pointer;
  z-index: 0;
}

.second > .container > .image::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 1;
  transition: background 300ms ease;
}

.second > .container > .image:hover::before {
  background: rgba(0,0,0,.9);
}


.second > .container > .image > h1 {
  text-align: center;
  color: var(--grad-2);
  z-index: 2;
  font-size: 3rem;
}
.second > .container > .image > div {
  position: absolute;
  inset: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.second > .container > .image > div::before {
  content: "×";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  color: var(--grad-2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  opacity: 0;
  transition: opacity 300ms ease;
}

.second > .container > .image > div:hover::before {
  opacity: 1;
}

@keyframes cycleHue {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}


.second > .container > .color-palette {
  --cycle-hue: cycleHue 2000ms infinite linear;
  width: 100%;
  aspect-ratio: 1/1;
  background: var(--grad-3);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second > .container > .color-palette > div {
  background: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
  font-weight: 700;
  transition: opacity 300ms ease;
}

.second > .container > .color-palette > div:hover {
  opacity: 1;
}


.second >  a {
  background: var(--dom-color-2);
  align-self: center;
  width: 9rem;
  height: 3rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.second > .percentage {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.second > .percentage span:last-child {
  font-size: .8rem;
}

.second > .color {
  color: var(--dom-color-2);
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.second > .color div { gap: .3rem; }
.second > .color div div {
  width: 0;
  height: .1rem;
  background: var(--color);
  transition: width 1000ms ease;
}

.second > .color > .red {
  --color: red;
  
}

.second > .color > .green {
  --color: lime;
  
}

.second > .color > .blue {
  --color: blue;
  
}






@media (min-width: 40rem) {
  .first > .inputs {
    height: calc(var(--search-bar) / 2);
    flex-direction: row-reverse;
  }

  .inputs > .orientation {
    width: 20%;
  }

  .img-layout {
    flex-direction: row;
  }

  .img-container {
    width: 100%;
  }

  .img-info {
    height: 100%;
    width: 60%;
  }
}

.hidden {
  display: none;
}
